*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #BAB8A1;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size:8vmin;
    color: #5E3208;
    background-color: #FDF0EC;
}
#reset-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color: #130A02;
    color: white;
    border-radius: 1rem;
    border:none;
}
#new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color: #130A02;
    color: white;
    border-radius: 1rem;
    border:none;
}
#msg{
    color:#5F696D;
    font-size:6vmin;
}
.msg-container{
    height:100vmin;
    gap:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display:none;
}